.AddStyle{
    margin-Top: 80px;
}
.EditStyle{
    margin-Top: 80px
}
.AddBtn{
    margin-Top: 10px;
    margin-bottom: -44px;
    margin-left: -658px;
}
.container{
    margin-top:-20px;
    margin-bottom: 20px;
}
