a:hover{
    text-decoration: none;
}
.icon{
    color: white;
}
.itemtext{
    color:white
}
.modalclose{
    margin-left:485px;
}
input[type='text'],
select {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
     margin-bottom: 20px; 
     margin-top: -34px; 
  }
  label {
    font-weight: bold;
    display:flex;
    margin-bottom: 5px;
    float: left;
    margin-top: -56px;
    margin-right: -50px;
  }
  .invoice{
      margin-top: 10px;
  }
